//
// Base styles
//

.btn{
  display: inline-block;
  font-weight: normal;
  color: $white;
  font-size: ms(0);
  line-height: $line-height-base;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: none;
  padding: 1em 2em;
  cursor: pointer;
  text-decoration: none;
  background: $gray-light;
  white-space: normal;
  transition: all .2s ease-out;
  @include mt(1);

  background: lighten($gray-light, 8%);
  &:hover{
    background: $gray-light;
  }
  &:disabled{
    &:hover{
      background: lighten($gray-light, 8%);
    }
  }

  &:focus,
  &--focus {
    outline: 0;
  }

  &:disabled,
  &--disabled{
    cursor: not-allowed;
    opacity: .65;
  }


  //
  // Alternate sizes
  //

  &--big{
    font-size: ms(1);
  }
  &--small{
    font-size: ms(-1);
  }
  &--tiny{
    font-size: ms(-2);
    letter-spacing: .2em;
    text-transform: uppercase;
    font-weight: bold;
  }

  //
  // Alternate styles
  //

  &--outline, &--no-outline{
    background: transparent;
    box-shadow: inset 0 0 0 .1em $gray-light;
    color: $gray-light;
    &:hover{
      background: $gray-light;
      color: $white;
      text-decoration: none;
    }
    &:disabled{
      &:hover{
        background: transparent;
        color: $gray-light;
      }
    }
  }
  &--no-outline{
    color: lighten($gray-light, 8%);
    box-shadow: none;
    &:hover{
      color: $gray-light;
      background: transparent;
    }
  }
  &--rounded{
    border-radius: 200px;
  }
  &--full{
    width: 100%;
  }

//
// Alternate colors
//
  &--primary{
    background: lighten($brand-primary, 8%);
    &:hover{
      background: $brand-primary;
      color: $white;
      text-decoration: none;
    }
    &:disabled{
      &:hover{
        background: lighten($brand-primary, 8%);
      }
    }
    &.btn--outline, &.btn--no-outline{
      background: transparent;
      box-shadow: inset 0 0 0 .1em $brand-primary;
      color: $brand-primary;
      &:hover{
        background: $brand-primary;
        color: $white;
      }
      &:disabled{
        &:hover{
          background: transparent;
          color: $brand-primary;
        }
      }
    }
    &.btn--no-outline{
      color: lighten($brand-primary, 8%);
      box-shadow: none;
      &:hover{
        background: transparent;
        color: $brand-primary;
      }
    }
  }
  &--warning{
    background: lighten($brand-warning, 8%);
    &:hover{
      background: $brand-warning;
      color: $white;
      text-decoration: none;
    }
    &:disabled{
      &:hover{
        background: lighten($brand-warning, 8%);
      }
    }
    &.btn--outline, &.btn--no-outline{
      background: transparent;
      box-shadow: inset 0 0 0 .1em $brand-warning;
      color: $brand-warning;
      &:hover{
        background: $brand-warning;
        color: $white;
      }
      &:disabled{
        &:hover{
          background: transparent;
          color: $brand-warning;
        }
      }
    }
    &.btn--no-outline{
      color: lighten($brand-warning, 8%);
      box-shadow: none;
      &:hover{
        background: transparent;
        color: $brand-warning;
      }
    }
  }
  &--danger{
    background: lighten($brand-danger, 8%);
    &:hover{
      background: $brand-danger;
      color: $white;
      text-decoration: none;
    }
    &:disabled{
      &:hover{
        background: lighten($brand-danger, 8%);
      }
    }
    &.btn--outline, &.btn--no-outline{
      background: transparent;
      box-shadow: inset 0 0 0 .1em $brand-danger;
      color: $brand-danger;
      &:hover{
        background: $brand-danger;
        color: $white;
      }
      &:disabled{
        &:hover{
          background: transparent;
          color: $brand-danger;
        }
      }
    }
    &.btn--no-outline{
      color: lighten($brand-danger, 8%);
      box-shadow: none;
      &:hover{
        background: transparent;
        color: $brand-danger;
      }
    }
  }
  &--success{
    background: lighten($brand-success, 8%);
    &:hover{
      background: $brand-success;
      color: $white;
      text-decoration: none;
    }
    &:disabled{
      &:hover{
        background: lighten($brand-success, 8%);
      }
    }
    &.btn--outline, &.btn--no-outline{
      background: transparent;
      box-shadow: inset 0 0 0 .1em $brand-success;
      color: $brand-success;
      &:hover{
        background: $brand-success;
        color: $white;
      }
      &:disabled{
        &:hover{
          background: transparent;
          color: $brand-success;
        }
      }
    }
    &.btn--no-outline{
      color: lighten($brand-success, 8%);
      box-shadow: none;
      &:hover{
        background: transparent;
        color: $brand-success;
      }
    }
  }
  &--info{
    background: lighten($brand-info, 8%);
    &:hover{
      background: $brand-info;
      color: $white;
      text-decoration: none;
    }
    &:disabled{
      &:hover{
        background: lighten($brand-info, 8%);
      }
    }
    &.btn--outline, &.btn--no-outline{
      background: transparent;
      box-shadow: inset 0 0 0 .1em $brand-info;
      color: $brand-info;
      &:hover{
        background: $brand-info;
        color: $white;
      }
      &:disabled{
        &:hover{
          background: transparent;
          color: $brand-info;
        }
      }
    }
    &.btn--no-outline{
      color: lighten($brand-info, 8%);
      box-shadow: none;
      &:hover{
        background: transparent;
        color: $brand-info;
      }
    }
  }
}
