ul, ol{
  @include m(0);
  @include p(0);
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  @include ms-respond(font-size, 0);
  line-height: $line-height-huge;

  li {
      list-style-type: none;
  }
}

ol {
  li {
      list-style-type: decimal-leading-zero;
      list-style-position: inside;
  }
}
