//here project's custom mixins
//you can add same-name mixins to override
@mixin padding($multiT: 0, $multiR: 0, $multiB: 0, $multiL: 0){
    //.5 is 8pt for a "standard" base of 16px (to respect 8pt grid)
    padding: (.5em * $multiT) (.5em * $multiR) (.5em * $multiB) (.5em * $multiL);
}

@mixin button{
    background: red;
    border: none;
}