// custom project's SASS
@import "variables";
@import "mixins";
@import "~sass-spacing/mixins";

// SASS framework
@import "welanstrap/welanstrap";

.title{
    &--xl{
        font-size: 5em;
        line-height: $line-height-base;
    }
    &--l{
        font-size: 3em;
        line-height: $line-height-base;
    }
    &--m{
        font-size: 2em;
        line-height: $line-height-base;
    }
    &--s{
        font-size: 1em;
        line-height: $line-height-base;
    }
}
.text{
    &--xl{
        font-size: 2.5em;
        line-height: $line-height-base;
    }
    &--l{
        font-size: 1.5em;
        line-height: $line-height-base;
    }
    &--m{
        font-size: 1em;
        line-height: $line-height-base;
    }
    &--s{
        font-size: 0.5em;
        line-height: $line-height-base;
    }
}



.section{
  background: white;
}

body{
    padding: 0;
    margin: 0;
}
html {
    background: white;
}