@import "bootstrap/bootstrap";
@import "variables";
@import "mixins";

.title{
    &--xl{
        font-size: 5em;
    }
    &--l{
        font-size: 3em;
    }
    &--m{
        font-size: 2em;
    }
    &--s{
        font-size: 1em;
    }
}
.text{
    &--xl{
        font-size: 2.5em;
    }
    &--l{
        font-size: 1.5em;
    }
    &--m{
        font-size: 1em;
    }
    &--s{
        font-size: 0.5em;
    }
}



.section{
  background: white;
}

body{
    padding: 0;
    margin: 0;
}
html {
    background: white;
}