{
  "presets": [
    ["env", {
      "targets": {
        //"chrome": 52,
        "browsers": ["last 10 versions", "safari >= 7"],
        "modules" : false
        //"debug" : true
        //"comments": false
      }
    }]
  ]
}
