// Fonts
$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

$font-family-base:      $font-family-sans-serif !default;
$font-size-base:        1em !default; // Assumes the browser default, typically `16px`
$font-weight-base:      $font-weight-normal !default;
$dt-font-weight:        $font-weight-bold !default;

$line-height-base:      1.5em;

$ms-base: $font-size-base;
$ms-ratio: $golden;
$ms-range:
  1.3 20em,     //320px
  1.3 36em,     //576px
  1.4 48em,     //768px
  1.5 62em,     //992px
  1.6 75em,     //1200
  1.6 100em;    //1600
//do not scale fluidly
$ms-fluid: false;

body{
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $font-family-base;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
}

h1{
    @include ms-respond(font-size, 4);
    line-height: 1;
    @include mq($until: sm){
        line-height: 1;
    }
}

h2{
    @include ms-respond(font-size, 3);
    line-height: 1.5;
}

h3{
    @include ms-respond(font-size, 2);
    line-height: 1.5;
}

h4{
    @include ms-respond(font-size, 1);
    line-height: 1.5;
}

h5{
    @include ms-respond(font-size, 0);
    line-height: 1.5;
}

h6{
    @include ms-respond(font-size, -1);
    line-height: 1.5;
}

p{
    @include ms-respond(font-size, 0);
    line-height: 1.5;
    letter-spacing: .0125em;
}