// Fonts
$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

$font-family-base:      $font-family-sans-serif !default;
$font-size-base:        1em !default; // Assumes the browser default, typically `16px`
$font-weight-base:      $font-weight-normal !default;
$dt-font-weight:        $font-weight-bold !default;

$line-height-base:      1.3;

$logo-max-height:       120px;

// Start with assigning color names to specific hex values.

$white:  #fff !default;
$black:  #000 !default;
$red:    #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green:  #5cb85c !default;
$blue:   #0275d8 !default;
$teal:   #5bc0de !default;
$pink:   #ff5b77 !default;
$purple: #613d7c !default;

// Create grayscale

$gray-dark:                 #292b2c !default;
$gray:                      #464a4c !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

// Reassign color vars to semantic color scheme

$brand-primary:             $blue !default;
$brand-success:             $green !default;
$brand-info:                $teal !default;
$brand-warning:             $orange !default;
$brand-danger:              $red !default;
$brand-inverse:             $gray-dark !default;

// Links

$link-color:            $brand-primary !default;
$link-decoration:       none !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// Hover
$enable-hover-media-query:  false !default;

// General
$table-cell-padding:    .75rem !default;
$text-muted:            $gray-light !default;
$cursor-disabled:       not-allowed !default;
$body-color:          black !default;
$body-bg:             white !default; // 2


// Utils for breakpoints
@mixin _assert-ascending($map, $map-name) {
  $prev-key: null;
  $prev-num: null;
  @each $key, $num in $map {
    @if $prev-num == null {
      // Do nothing
    } @else if not comparable($prev-num, $num) {
      @warn "Potentially invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} whose unit makes it incomparable to #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    } @else if $prev-num >= $num {
      @warn "Invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} which isn't greater than #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    }
    $prev-key: $key;
    $prev-num: $num;
  }
}

@mixin _assert-starts-at-zero($map) {
  $values: map-values($map);
  $first-value: nth($values, 1);
  @if $first-value != 0 {
    @warn "First breakpoint in `$mq-breakpoints` must start at 0, but starts at #{$first-value}.";
  }
}


$mq-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1680px
) !default;
@include _assert-ascending($mq-breakpoints, "$mq-breakpoints");
@include _assert-starts-at-zero($mq-breakpoints);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1560px
) !default;
@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               12 !default;
$grid-gutter-width-base:     30px !default;
$grid-gutter-widths: (
  xs: $grid-gutter-width-base,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base,
  xxl: $grid-gutter-width-base
) !default;



//debug breakpoints (override it with $mq-show-breakpoints: ();)
$mq-show-breakpoints: (xs, sm, md, lg, xl, xxl);

$spacing-sizes: (
  0: 0rem,
  1: 0.5rem,
  2: 1rem,
  3: 1.5rem,
  4: 2rem,
  5: 2.5rem,
  6: 3rem,
  7: 3.5rem,
  8: 4rem,
  9: 4.5rem,
  10: 5rem,
  11: 5.5rem,
  12: 6rem,
  13: 7rem,
  14: 7.5rem,
  15: 8rem,
  16: 8.5rem,
  17: 9rem,
  18: 9.5rem,
  19: 10rem,
  20: 10.5rem,
  21: 11rem,
  22: 11.5rem,
  23: 12rem
);

$spacing-important: false;
